# Python artifacts
__pycache__/
*.pyc

# Virtual environment
venv/

# Environment file
.env

# Docker artifacts
db_data/

# Zip file to upload to ChatGPT
*.zip

# Google Service Account
google_service_account.json
Google_client_secret.json
npanalyticsapp-03837a672494.json

token.json

# Text file of the whole porjeect to keep in Chat GPT
np-analytics-app.txt
