# Python artifacts
__pycache__/
*.pyc

# Virtual environment
venv/

# Environment file
.env

# Docker artifacts
db_data/

# Zip file to upload to ChatGPT
*.zip

# Google Service Account
google_service_account.json
Google_client_secret.json
npanalyticsapp-03837a672494.json
client_secret_2_429513113002-0h67df6t61ntchrb5ofokia7ur4a2pas.apps.googleusercontent.com.json

token.json


# Text file of the whole porjeect to keep in Chat GPT
np-analytics-app.txt
np-analytics-db-structure.txt
token.json
